# Full disk encryption
CONFIG_DM_CRYPT=m

# libcamera softisp
CONFIG_DMABUF_HEAPS_CMA=y

# For Ubuntu/snap
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y

# For network sharing, e.g. in Ubuntu connection sharing with test boards
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NFT_NAT=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_CT=m
CONFIG_NFT_REJECT=m
CONFIG_NF_CONNTRACK=m

# Network from mobile phone (so as a device)
CONFIG_USB_NET_RNDIS_HOST=m

# Typical use-cases for desktop/laptop
CONFIG_NTFS_FS=m
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_SOC_USB=m
CONFIG_SND_USB_AUDIO_MIDI_V2=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
